  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

nav {
	background: #fff !important;
}

nav > .container > a.brand-logo > img {
    max-height: 64px;
    padding: 10px;
}

main {
    flex: 1 0 auto;
  }
      
