body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
	width:100%;
	height:164px;
	text-align:center;
}

header > img {
	max-height: 200px;
    max-width: 100%;
    background: #fff;
    padding-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 20px;
}

main {
    flex: 1 0 auto;
}

nav {
    background: #fff !important;
}

nav > .container > a.brand-logo > img {
    max-height: 64px;
    padding: 10px;
}

footer.page-footer {
    margin-top: 0;
    padding-top: 0;
}

main > .container > .results .card-action span {
	padding: 10px 15px;
	border: 5px solid #66BB6A;
	border-radius: 50%;
	margin-right: 5px;
}

@media (max-width: 478px){
	header > img {
		width: 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-top: 0;
		padding-top: 10px;
		border-bottom: 10px solid #8bc349;
	}
}

.hidden {
	display: none;
}

.healthy-green {
	background-color: #8bc349;
}

.healthy-green-text {
	color: #8bc349;
}